<!-- <script src="https://lib.baomitu.com/jquery/3.6.0/jquery.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0.12/dist/fancybox.umd.js"></script> -->
<!-- <script src="https://testingcf.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script> -->
<script src="/fancybox/jquery.3.min.js"></script>
<!-- <script src="https://testingcf.jsdelivr.net/npm/@fancyapps/ui@4.0.12/dist/fancybox.umd.js"></script> -->
<!-- <script src="https://testingcf.jsdelivr.net/npm/@fancyapps/ui@5.0.36/dist/fancybox/fancybox.umd.js"></script> -->
<script src="/fancybox/fancybox.umd.5.js"></script>
<!-- <script src="/fancybox/fancybox.umd.js"></script> -->
<script>
  // 获取文章中的img 标签 不包括封面
  $('.main .article-content img').not(".article-list").each(function () {
      //添加 data-fancybox="gallery"
      $(this).attr("data-fancybox","gallery"); })

      Fancybox.bind('[data-fancybox="gallery"]', {
      //
      });
  $('.main-article .article-header .article-image a').each(function () {
  	$(this).attr('disable', 'true');
  	$(this).attr('datahref', $(this).attr("href"));
	$(this).removeAttr('href');
  })
</script>
