{{ if .Interests }}
<div class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">{{ i18n "interests" }}</h2>
    </div>
    <div class="sideSection__content" style=".interests li:nth-child(odd) {text-align: right; }; .li:nth-child(even) {text-align: left; }">
        <ul class="interests">
            {{ range .Interests }}
	    <li>{{ . | safeHTML }}</li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
