{{ if .Projects }}
<div id="projects" class="section">
    <div class="section__heading">
        <h2 class="section__title">{{ i18n "projects" }}</h2>
    </div>
    <div class="section__content">
        <div class="projects">
            {{ range .Projects }}
            {{ if .Class }}
            <div class="projects__item {{ .Class }}">
            {{ else }}
            <div class="projects__item">
            {{ end }}
                <div class="projects__header">
                    <h3 style="text-tranform: none color: #666">
                        {{ .Employer | safeHTML }}
                    </h3>
                    <h3 class="experience__date">{{ .Date | safeHTML }}</h3>
                </div>
                {{ range .Project }}
                {{ if .TwoColumns }}
                <div class="projects__job--two-columns">
                {{ else }}
                <div class="projects__job">
                {{ end }}
                    <ul>
                        {{ range .Details }}
                        <li class="projects__bullet">{{ . | safeHTML }}</li>
                        {{ end }}
                    </ul>
                    <div class="projects__badges" style="margin-bottom: -2rem">
                        <ul>
                            {{ range .Badges }}
                            <li class="projects__badge">{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
