.sideSection {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;      // bottom margin of the sections (contacts, skills, languages, interests, etc)
    @include avoid-break;

    &__heading {
        width: 100%;
        overflow: hidden;
        text-align: center;
        margin-bottom: 1rem;
        color: $color-right-col-heading-text;
    }

    &__title {
        position: relative;

        &::after,
        &::before {
            content: '';
            position: absolute;
            border-top: 1px solid $color-right-col-heading-text;
            border-bottom: 1px solid $color-right-col-heading-text;
            width: 10rem;
            height: 4px;
            margin-top: 1.1rem;
        }

        &::after {
            margin-left: 1rem;
        }

        &::before {
            margin-left: -11rem;
        }
    }

    & li {
        list-style: none;
    }
}
