<iframe id="embed" src="{{.Get 0}}" width=100% frameborder="0" scrolling="auto" allowfullscreen="allowfullscreen" ></iframe>
<script type="text/javascript"> document.getElementById("embed").style.height=document.getElementById("embed").scrollWidth*0.6+"px"; </script>

