{{ $data := or (index .Site.Data .Site.Language.Lang).content .Site.Data.content }}
{{ .Scratch.Set "data" $data }}
<!DOCTYPE html>
<html lang="zh">
    {{ partial "head.html" . }}
<body>
    <div class="content">
        {{ if .Site.Params.swapColumns }}
        <div class="content__left content__swapped__left">
        {{ else }}
        <div class="content__left">
        {{ end }}
            {{ partial "_thesis.html" $data }}
            {{ partial "_experience.html" $data }}
            {{ partial "_projects.html" $data }}
            {{ partial "_references.html" $data }}
        </div>
        {{ if .Site.Params.swapColumns }}
        <div class="content__right content__swapped__right">
        {{ else }}
        <div class="content__right">
        {{ end }}
            <h1 class="mainHeading" style="margin-top: 3rem;font-size: 3rem">{{ $data.BasicInfo.FirstName }} <span>{{ $data.BasicInfo.LastName }}</span></h1>
            {{ partial "_contacts.html" $data }}
            {{ partial "_profile.html" $data }}
            {{ partial "_diplomas.html" $data }} 
            {{ partial "_skills.html" $data }}
            {{ partial "_languages.html" $data }}
            {{ partial "_interests.html" $data }}
            {{ partial "_intention.html" $data }}
        </div>
    </div>
</body>
</html>
