<div class="article-list--compact links">
    {{ range $i, $link := .Params.links }}
        <article>
            <a href="{{ $link.website }}" target="_blank" rel="noopener">
                <div class="article-details">
                    <h2 class="article-title">
                        {{- $link.title -}}
                    </h2>
                    <footer class="article-time">
                        {{ with $link.description }}
                            {{ . }}
                        {{ else }}
                            {{ $link.website }}
                        {{ end }}
                    </footer>
                </div>
        
		{{ with $link.image }}
		<div class="article-image">
		  <img src="{{ . }}" style="border-radius: 50%;" loading="lazy" data-action="zoom">
		</div>
		{{ end }}
            </a>
        </article>
    {{ end }}
</div>
