<!-- {{- partial "helper/external" (dict "Context" . "Namespace" "KaTeX") -}} -->
<!-- <script>
    window.addEventListener("DOMContentLoaded", () => {
        renderMathInElement(document.querySelector(`.article-content`), {
            delimiters: [
                { left: "$$", right: "$$", display: true },
                { left: "$", right: "$", display: true },
                { left: "\\(", right: "\\)", display: true },
                { left: "\\[", right: "\\]", display: true }
            ],
            ignoredClasses: ["gist"]
        });})
</script> -->
<script>
MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$','$$'], ['\\[', '\\]']],
      processEscapes: true,
      processEnvironments: true,
      autoload: expandable({
                action: ['toggle', 'mathtip', 'texttip'],
                amscd: [[], ['CD']],
                bbox: ['bbox'],
                boldsymbol: ['boldsymbol'],
                braket: ['bra', 'ket', 'braket', 'set', 'Bra', 'Ket', 'Braket', 'Set', 'ketbra', 'Ketbra'],
                cancel: ['cancel', 'bcancel', 'xcancel', 'cancelto'],
                color: ['color', 'definecolor', 'textcolor', 'colorbox', 'fcolorbox'],
                enclose: ['enclose'],
                extpfeil: ['xtwoheadrightarrow', 'xtwoheadleftarrow', 'xmapsto',
                 'xlongequal', 'xtofrom', 'Newextarrow'],
                html: ['href', 'class', 'style', 'cssId'],
                mhchem: ['ce', 'pu'],
                newcommand: ['newcommand', 'renewcommand', 'newenvironment', 'renewenvironment', 'def', 'let'],
                unicode: ['unicode'],
                verb: ['verb']
        })
    },
    options: {
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    }
  };
</script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_SVG"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->
<script src="/mathjax/tex-mml-chtml.js"></script>

